.btn {
  background-color: #434a52;
  color: white;
  padding: 10px 20px; 
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  margin: auto;

}
.btncrd {
  background-color: #434a52;
  color: white;
  padding: 10px 20px; 
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  margin: auto;

}